extends ../../layout/layout

block variables
  -
    const pageName = 'ui'
    const pageTitle = 'ui'

block description
  meta(name='description', content='Описание страницы Test')

block content
  main.ui-page(data-barba='container', data-barba-namespace=pageName)
    .inner
      button(data-modal-btn='wrapper') Open input modals
      button(data-modal-btn='success-modal') Open success modal
      #wrapper
        +input-modals('wrapper')
      #success-modal
        +success-modal('success-modal')
