extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

block content
  main(data-barba='container', data-barba-namespace=pageName)
    .inner
      button(data-modal-btn='wrapper') Open input modals
      button(data-modal-btn='success-modal') Open success modal
      #wrapper
        +input-modals('wrapper')
      #success-modal
        +success-modal('success-modal')
