.ui-input {
  position: relative;
  transition: $transition;

  color: #242424;
  font-family: 'Foundry Monoline OT3';
  font-size: rem(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: rem(-0.16px);
  text-transform: uppercase;

  &__icon {
    position: absolute;
    aspect-ratio: square;
    right: rem(20px);

    width: rem(20px);

    right: rem(20px);
    top: 50%;
  }

  input {
    padding: rem(20px);

    vertical-align: bottom;

    &:focus,
    &:not(:placeholder-shown) {
      padding-left: rem(20px);
      padding-top: rem(29px);
      padding-bottom: rem(11px);
      padding-right: rem(50px);
      & ~ label {
        opacity: 0.5;
        visibility: visible;
      }
    }
  }

  input:focus ~ label,
  input.filled ~ label {
    opacity: 0.5;
    visibility: visible;
  }

  input:focus::placeholder,
  input.filled::placeholder {
    visibility: hidden;
  }

  label {
    color: #364a46;
    font-family: Rubik;
    font-size: rem(14px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    transition: $transition;

    opacity: 0;
    visibility: hidden;

    top: rem(28px);
    left: rem(20px);
    position: absolute;
    transform-origin: left center;
    transform: translateY(-1em);
    transform: translateY(0) scale(1);
  }

  &__error {
    margin-block: rem(6px);
    color: #e40e20;
    font-family: Rubik;
    font-size: rem(14px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    &:empty {
      margin-block: 0;
    }
  }
}
