@use 'sass:map';

:root {
  --primary: #1d3c85;

  // fonts
  --font: 'Foundry Monoline OT3', 'Arial', sans-serif;
  --text: #242424;
  // colors
  --background: #f4f4f4;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

// fonts
$font: var(--font);
// colors
$background: var(--background);
$text: var(--text);
$primary: var(--primary1);
$colors: (
  black: #000000
);

@function color($variant: black) {
  @return map.get($colors, $variant);
}

// media
$mediaWidthLaptop: 1340px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
